@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    background-color: rgb(36, 220, 233);
}

h1{
    color: azure;
    text-align: center;
    font-family: 'Playfair Display';
}
h2{
    color:aliceblue
}
h3{
    color:aliceblue
}